.top-margin{
  margin-top: 20px,
}
.txt1{
margin-left: 10px
}
.txt2{
margin-left: 80px
}

.button {
background-color: #4CAF50; /* Green */
border: none;
color: white;
padding: 20px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 16px;
margin: 4px 2px;
cursor: pointer;
}
.button5 {border-radius: 50%;}
.footer {
  float: left;
}
